<configuration>
 <dduetools>
    <platform version="2.0" path="%SystemRoot%\Microsoft.NET\Framework\v2.0.50727\" />
    <resolver type="Microsoft.Ddue.Tools.Reflection.AssemblyResolver" assembly="%DXROOT%\ProductionTools\MRefBuilder.exe" use-gac="false" />

    <!--Do not need to document all APIs-->
    <apiFilter expose="false">
      <!--Need to document all APIs under Bio namespace(s)-->
      <namespace name="MBF" expose="true"></namespace>
      <namespace name="MBF.Algorithms" expose="true"></namespace>
      <namespace name="MBF.Algorithms.Alignment" expose="true"></namespace>
      <namespace name="MBF.Algorithms.Assembly" expose="true"></namespace>
      <namespace name="MBF.Algorithms.Assembly.Graph" expose="true"></namespace>
      <namespace name="MBF.Algorithms.Assembly.PaDeNA" expose="true"></namespace>
      <namespace name="MBF.Algorithms.Assembly.PaDeNA.Scaffold" expose="true"></namespace>
      <namespace name="MBF.Algorithms.Kmer" expose="true"></namespace>
      <namespace name="MBF.Algorithms.StringSearch" expose="true"></namespace>
      <namespace name="MBF.Algorithms.SuffixTree" expose="true"></namespace>
      <namespace name="MBF.Algorithms.Translation" expose="true"></namespace>
      <namespace name="MBF.Encoding" expose="true"></namespace>
      <namespace name="MBF.IO" expose="true"></namespace>
      <namespace name="MBF.IO.BAM" expose="true"></namespace>
      <namespace name="MBF.IO.Bed" expose="true"></namespace>
      <namespace name="MBF.IO.ClustalW" expose="true"></namespace>
      <namespace name="MBF.IO.Fasta" expose="true"></namespace>
      <namespace name="MBF.IO.FastQ" expose="true"></namespace>
      <namespace name="MBF.IO.GenBank" expose="true"></namespace>
      <namespace name="MBF.IO.Gff" expose="true"></namespace>
      <namespace name="MBF.IO.Newick" expose="true"></namespace>
      <namespace name="MBF.IO.Nexus" expose="true"></namespace>
      <namespace name="MBF.IO.Phylip" expose="true"></namespace>
      <namespace name="MBF.IO.SAM" expose="true"></namespace>
      <namespace name="MBF.Matrix" expose="true"></namespace>
      <namespace name="MBF.Phylogenetics" expose="true"></namespace>
      <namespace name="MBF.Registration" expose="true"></namespace>
      <namespace name="MBF.SimilarityMatrices" expose="true"></namespace>
      <namespace name="MBF.Util" expose="true"></namespace>
      <namespace name="MBF.Util.Logging" expose="true"></namespace>
      <namespace name="MBF.Web" expose="true"></namespace>
      <namespace name="MBF.Web.Blast" expose="true"></namespace>
      <namespace name="MBF.Web.ClustalW" expose="true"></namespace>
    </apiFilter>       
  </dduetools>
</configuration>
